shoppingapp.ebrsoft.com.tr {
    handle /api/* {
        reverse_proxy backend-api:8080
    }

    handle /s3/* {
        reverse_proxy minio-s3:9000
    }

    handle /admin/* {
        uri strip_prefix /admin
        reverse_proxy admin-panel:80
    }

    handle {
        reverse_proxy customer-app:80
    }
}
